

/* Start:/local/templates/voigush-blog/components/bitrix/system.pagenavigation/keengo_pagenavigation/style.css?1727789700329*/
.paginationPrevNext{
    padding:5px;
    background: white;
    border-radius: 5px;
    border:1px solid #ccc;
}
.pagination{
    padding-left: 20px;
}

.page{
    background: white;
    padding:10px;
    border-radius: 5px;
    border:1px solid #ccc;
}

.active{
    background: #adadad;
    color: white;
}
/* End */


/* Start:/local/templates/voigush-blog/components/bitrix/news/news/bitrix/news.list/.default/style.css?1727701839150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/voigush-blog/components/bitrix/system.pagenavigation/keengo_pagenavigation/style.css?1727789700329 */
/* /local/templates/voigush-blog/components/bitrix/news/news/bitrix/news.list/.default/style.css?1727701839150 */
