

/* Start:/local/templates/voigush-blog/components/bitrix/system.pagenavigation/keengo_pagenavigation/style.css?1727788945269*/
.paginationPrevNext{
    padding:5px;
    background: white;
    border-radius: 5px;
    border:1px solid #ccc;
}
.pagination{
    padding-left: 20px;
}

.page{
    background: white;
    padding:10px;
    border-radius: 5px;
    border:1px solid #ccc;
}
/* End */
/* /local/templates/voigush-blog/components/bitrix/system.pagenavigation/keengo_pagenavigation/style.css?1727788945269 */
